@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../public/fonts/Poppins-Bold.ttf)format("opentype");
  font: bold;
}

@font-face {
  font-family: "Poppins-regular";
  src: url(../public/fonts/Poppins-Regular.ttf)format("opentype");
  font: bold;
}

@layer utilities {
  .title-default {
    @apply font-default;
    font-size: 17;
    font-family: var(--font-title);
  }
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: #013C72;
  --color-neutral: #4E4F53;
  --color-sucess: #2DAC3E;
  --color-error: #DE3737;

  /* font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-default: 'Poppins-regular';
  --font-title: 'Poppins-bold';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}